# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/.idea/
**/android/app/.cxx/

# Java & IntelliJ/Android Studio
*.iml
.idea/
*.class
out/
bin/
outputs/

# System files
.DS_Store
Thumbs.db
